[submodule "cmake-modules"]
	path = cmake/modules
	url = ../../BoostCMake/cmake_modules.git
[submodule "marshalling"]
	path = libs/marshalling/core
	url = ../../NilFoundation/marshalling.git
[submodule "crypto3-multiprecision-marshalling"]
	path = libs/marshalling/multiprecision
	url = ../../NilFoundation/crypto3-multiprecision-marshalling.git
