[submodule "libs/crypto/hash"]
	path = libs/crypto/hash
	url = git@github.com:nilfoundation/hash.git
[submodule "libs/crypto/block"]
	path = libs/crypto/block
	url = git@github.com:nilfoundation/block.git
[submodule "libs/crypto/codec"]
	path = libs/crypto/codec
	url = git@github.com:nilfoundation/codec.git
[submodule "libs/crypto/zk"]
	path = libs/crypto/zk
	url = git@github.com:nilfoundation/zk.git
[submodule "libs/crypto/stream"]
	path = libs/crypto/stream
	url = git@github.com:nilfoundation/stream.git
[submodule "libs/crypto/random"]
	path = libs/crypto/random
	url = git@github.com:nilfoundation/random.git
[submodule "libs/crypto/mac"]
	path = libs/crypto/mac
	url = git@github.com:nilfoundation/mac.git
[submodule "libs/crypto/modes"]
	path = libs/crypto/modes
	url = git@github.com:nilfoundation/modes.git
[submodule "libs/crypto/algebra"]
	path = libs/crypto/algebra
	url = git@github.com:nilfoundation/crypto3-algebra.git
[submodule "libs/crypto/blueprint"]
	path = libs/crypto/blueprint
	url = git@github.com:nilfoundation/crypto3-blueprint.git
[submodule "libs/crypto/math"]
	path = libs/crypto/math
	url = git@github.com:nilfoundation/crypto3-math.git
[submodule "libs/marshalling"]
	path = libs/marshalling
	url = git@github.com:nilfoundation/marshalling.git
[submodule "libs/crypto/marshalling"]
	path = libs/crypto/marshalling
	url = git@github.com:nilfoundation/crypto3-marshalling.git
[submodule "cmake/modules"]
	path = cmake/modules
	url = git@github.com:BoostCMake/cmake_modules.git
[submodule "libs/marshalling/core"]
	path = libs/marshalling/core
	url = git@github.com:nilfoundation/marshalling.git
[submodule "libs/marshalling/crypto3"]
	path = libs/marshalling/crypto3
	url = git@github.com:nilfoundation/crypto3-marshalling.git
[submodule "libs/marshalling/algebra"]
	path = libs/marshalling/algebra
	url = git@github.com:nilfoundation/crypto3-algebra-marshalling.git
[submodule "libs/marshalling/multiprecision"]
	path = libs/marshalling/multiprecision
	url = git@github.com:nilfoundation/crypto3-multiprecision-marshalling.git
[submodule "libs/marshalling/zk"]
	path = libs/marshalling/zk
	url = git@github.com:nilfoundation/crypto3-zk-marshalling.git
